<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Conexiones -->
  <connectionStrings>
    <!-- Conexiones 223 LEVANTAR EN EL SERVIDOR CORRESPONDIENTE -->
    <!--<add name="conSIAV" connectionString="server=192.168.0.223;database=SIAV;uid=sa;password=Alvarado2017*;" providerName="System.Data.SqlClient" />
    <add name="conWMStra" connectionString="server=192.168.0.223;database=WMStra;uid=sa;password=Alvarado2017*;" providerName="System.Data.SqlClient" />-->
    <!-- Conexiones 247 -->
    <!--<add name="conSIAV" connectionString="server=18.224.232.68;database=SIAV;uid=sa;password=Sistemas@2019*P;" providerName="System.Data.SqlClient" />-->
    <add name="conTOC_ALL" connectionString="server=192.168.0.247;database=TOC_ALL;uid=sa;password=importadora11;" providerName="System.Data.SqlClient" />
    <add name="conTOC_IAV" connectionString="server=192.168.0.247;database=TOC_IAV;uid=sa;password=importadora11;" providerName="System.Data.SqlClient" />
    <add name="conTOC_REC" connectionString="server=192.168.0.247;database=TOC_REC;uid=sa;password=importadora11;" providerName="System.Data.SqlClient" />
    <add name="conSI_CAO" connectionString="server=192.168.0.247;database=SI_CAO;uid=sa;password=importadora11;" providerName="System.Data.SqlClient" />
    <add name="conBI" connectionString="server=192.168.0.247;database=SI_PRE;uid=sa;password=importadora11;" providerName="System.Data.SqlClient" />
    <!-- Conexiones 252 -->
    <!--<add name="conSIAV" connectionString="server=192.168.0.252;database=SIAV;uid=sa;password=Alvarado2017*;" providerName="System.Data.SqlClient"/>-->
    <add name="conWMSiav" connectionString="server=192.168.0.252;database=WMSiav;uid=sa;password=Alvarado2017*;" providerName="System.Data.SqlClient" />
    <!-- Conexiones 219 -->
    <add name="conSIAV" connectionString="server=192.168.0.219;database=SIAV;uid=sa;password=Alvarado2018*;" providerName="System.Data.SqlClient" />
    <add name="conWMScal" connectionString="server=192.168.0.219;database=WMScal;uid=sa;password=Alvarado2018*;" providerName="System.Data.SqlClient" />
    <!-- Conexiones 208 -->
    <!--<add name="conSIAV" connectionString="server=192.168.0.208;database=SIAV;uid=sa;password=Alvarado2019*;" providerName="System.Data.SqlClient" />-->
    <!-- Conexiones 214  -->
    <!--<add name="conSIAV" connectionString="server=192.168.0.214;database=SIAV;uid=sa;password=Alvarado2018*;" providerName="System.Data.SqlClient" />-->
    <add name="conWMStra" connectionString="server=192.168.0.214;database=WMStra;uid=sa;password=Alvarado2018*;" providerName="System.Data.SqlClient" />
    <!-- Conexiones 222 -->
    <!--<add name="conSIAV" connectionString="server=18.224.232.68;database=SIAV;uid=sa;password=Sistemas@2019*P;" providerName="System.Data.SqlClient" />-->
    <add name="conGPIAV" connectionString="server=18.224.232.68;database=GPIAV;uid=sa;password=Sistemas@2019*P;" providerName="System.Data.SqlClient" />
    <add name="conGPCAL" connectionString="server=192.168.0.208;database=GPCAL;uid=sa;password=Alvarado2019*;" providerName="System.Data.SqlClient" />
    <!--<add name="conGPALL" connectionString="server=192.168.0.222;database=GPALL;uid=sa;password=Alvarado2017*;" providerName="System.Data.SqlClient" />-->
    <add name="conGPALL" connectionString="server=18.224.232.68;database=GPALL;uid=sa;password=Sistemas@2019*P;" providerName="System.Data.SqlClient" />
    <add name="conGPCAO" connectionString="server=192.168.0.222;database=GPCAO;uid=sa;password=Alvarado2017*;" providerName="System.Data.SqlClient" />
    <add name="conGPVEC" connectionString="server=192.168.0.222;database=GPVEC;uid=sa;password=Alvarado2017*;" providerName="System.Data.SqlClient" />
    <add name="conGPHOR" connectionString="server=192.168.0.222;database=GPHOR;uid=sa;password=Alvarado2017*;" providerName="System.Data.SqlClient" />
    <!--<add name="conDYNAMICS" connectionString="server=192.168.0.222;database=DYNAMICS;uid=sa;password=Alvarado2017*;" providerName="System.Data.SqlClient" />-->
    <add name="conDYNAMICSlocal" connectionString="server=192.168.0.222;database=DYNAMICS;uid=sa;password=Alvarado2017*;" providerName="System.Data.SqlClient" />
    <add name="conDYNAMICScao" connectionString="server=192.168.0.222;database=DYNAMICS;uid=sa;password=Alvarado2017*;" providerName="System.Data.SqlClient" />
    <!-- Conexiones home -->
    <add name="conSIS" connectionString="server=localhost;database=SI_GLOBAL;uid=sa;password=ambasoft123-;" providerName="System.Data.SqlClient" />
    <!-- Conexiones 239 -->
    <add name="conWMS" connectionString="server=192.168.0.239;database=BODEGAS_SCMIALVARADO;uid=sa;password=WMS123;" providerName="System.Data.SqlClient" />
    <!-- Conexiones Excel -->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
    <!-- Conexiones RECTIMA -->
  <!--<add name="conSIAV" connectionString="server=18.223.103.104;database=SIAV;uid=sa;password=Alvarado2019*;" providerName="System.Data.SqlClient" />-->
  <add name="conGPTRA" connectionString="server=18.223.103.104;database=GPTRA;uid=sa;password=Alvarado2019*;" providerName="System.Data.SqlClient" />
  <!--<add name="conDYNAMICS" connectionString="server=18.223.103.104;database=GPTRA;uid=sa;password=Alvarado2019*;" providerName="System.Data.SqlClient" />-->
    <add name="conDYNAMICS" connectionString="server=18.224.232.68;database=DYNAMICS;uid=sa;password=Sistemas@2019*P;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms path="/" loginUrl="Login.aspx" defaultUrl="Default.aspx" protection="All" slidingExpiration="true" timeout="600" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <!-- Framework -->
    <compilation targetFramework="4.5.2" debug="true">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ReportViewerWebControlHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!--Variables Globales-->
    <add key="PATH" value="/SIAV_v4/" />
    <add key="PATH_RECURSOS" value="/SIAV_v4/Recursos/" />
    <add key="PATH_IMAGES" value="/SIAV_v4/Recursos/images/" />
    <add key="PATH_UPLOAD" value="/SIAV_v4/Recursos/images/" />
    <add key="CORREO_ENVIO" value="web@iav.com.ec" />
    <add key="CORREO_CLAVE" value="IAVwt2015@" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: DB4D0373-E3AE-4A16-9ABE-AD4D65815D8F-->